.contact{
  background-color: rgb(248, 248, 248);

}

.contact-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;

}
.contact-container{
  margin: 1.7em 0;
  padding-bottom: 1.2em;
}
.contact-paragraph{
  margin: 1.2em;
}
.contact-container .lead,
.title{
  text-align: center;
}
.contact-container form{
  margin-top: 2em;
}
.contact-container form .form-control{
  display: block;
  margin: 1.6em 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100%;
}
.contact-container form .form-control::placeholder{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.contact-container .btn-submit{
  padding: 1.2em 1.5em;
  font-family: 'Poppins', sans-serif;
  background-color: #383838;
  color: #fff;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.contact-container .btn-submit:hover{
  background-color: #7a7a7a;
}
.email-icon{
  width: 1.5em;
  align-items: center;
  margin-bottom: -5px;
  margin-right: 0.5em;
}
