.my-works{
  margin-left: 1.2em;
}
.portfolio-section-header{
  margin-left: 1.8em;
  margin-bottom: 0;
  font-weight: 500;
  font-style: italic;
  background-color: lightgray;
  display: inline-block;
}

.street-photography-container,
.landscape-photography-container{
  display: flex;
  flex: 1 1 100%;
  gap: 0.5em;
  margin: 1em 2.8em;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.street-photography-container img,
.landscape-photography-container img{
  width: 100%;
  object-fit: cover;
}